* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
}

/* Shared */
.window {
    display: flex;
    height: 100dvh;
}

.topbar .title {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #031B42;
    color: #fff;
    align-items: center;
    padding-left: 20px;
}

.topbar .title .company {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topbar .title .company h1 {
    font-size: 32px;
    font-weight: 750;
}

.topbar .title .company .icon img {
    width: 50px;
}

.topbar .title .logout {
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.topbar .title .logout:hover {
    color: #4878A5;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    width: 250px;
    height: calc(100dvh - 60px);
    background-color: #031B42;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.current-user {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    height: 150px;
    background-image: url("../src/sidepanel_bg2.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.current-user img {
    width: 50px;
    margin-bottom: 1rem;
}

.current-user .name {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.current-user .email {
    font-size: 11px;
    color: #E1F4FF;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-item.active {
    background-color: #0e447d;
    font-weight: bold;
}

.menu-item {
    display: block;
    padding: 15px 20px;
    color: #fff;
    background-color: #031B42;
    text-decoration: none;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #0e447d;
}

.menu-item-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-menu {
    display: none;
    padding-left: 15px;
}

.menu-item.open {
    display: flex;
    font-weight: bold;
    background-color: #0E447D;
    flex-direction: column;
}

.sub-menu.open {
    display: flex;
    background-color: #0E447D;
    flex-direction: column;
}

.sub-item {
    font-size: 13px;
    opacity: 0.9;
}

.content {
    margin-top: 60px;
    margin-left: 250px;
    padding: 10px;
    flex: 1;
    display: none;
}

.content.active {
    display: block;
    height: calc(100dvh - 60px);
}

/* Dashboard */
#dashboard {
    padding: 10px;
    flex: 1;
    height: calc(100dvh - 60px);
}

.dashboard-widgets {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.widget-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.widget {
    background-color: #0E447D;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.widget h2 {
    font-size: 10px;
    margin-bottom: .25rem;
}

.widget p {
    font-size: 1.5rem;
    font-weight: 600;
}

.information-board {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 20px 50px;
    height: calc(100dvh - 475px);
}

.info-table table {
    width: 100%;
    border-collapse: collapse;

    th {
        background-color: #0E447D;
        color: #fff;
        font-size: .8rem;
        font-weight: 600;
        padding: 8px;
    }

    td {
        font-size: .9rem;
        padding: 8px;
        text-align: center;
    }

    tr {
        &:nth-child(even) {
            background-color: #f2f2f2;
        }

        border-bottom: 1px solid #000000;
    }

}

.pagination-controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.pagination-controls #page-numbers {
    font-size: 20px;
    font-weight: 750;
    color: #0E447D;
}

.pagination-controls button {
    background-color: #0E447D;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
    background-color: #4878A5;
}

/* View Employees, Accounts & Bank Balance*/
.filter {
    margin: 20px 50px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}



.search {
    position: relative;
    display: inline-block;
}

.search .search-icon {
    position: absolute;
    left: 275px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.search input {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border: 1px solid #4878A5;
    border-radius: 4px;
    font-size: 14px;
    width: 300px;
}

.search input:focus {
    outline: 2px solid #031B42;
}

.filter select {
    padding: 0.5rem;
    width: 150px;
    border: 1px solid #4878A5;
    border-radius: 4px;
    font-size: 14px;
}

.filter select:focus {
    outline: 2px solid #031B42;
}

.filter button {
    padding: 0.6rem 1rem;
    background-color: #0E447D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.filter button:hover {
    background-color: #4878A5;
}

#bank-balance {

    .filter select {
        padding: 0.5rem;
        margin-right: 1rem;
        width: 210px;
        border: 1px solid #4878A5;
        border-radius: 4px;
        font-size: 14px;
    }

    .filter select:focus {
        outline: 2px solid #031B42;
    }

    .filter input[type="date"] {
        padding: 0.5rem;
        border: 1px solid #4878A5;
        border-radius: 4px;
        font-size: 14px;
        font-family: 'Segoe UI', sans-serif;
    }

    .filter input[type="date"]:focus {
        outline: 2px solid #031B42;
    }

    .filter label {
        font-size: 16px;
        font-weight: 600;
    }
}

.employee-table,
.account-table,
.transaction-table {
    margin: 0 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height: calc(100dvh - 265px);
}

.employee-table table,
.account-table table,
.transaction-table table {
    width: 100%;
    border-collapse: collapse;

    th {
        background-color: #0E447D;
        color: #fff;
        font-size: .8rem;
        font-weight: 600;
        padding: 8px;
    }

    td {
        font-size: .9rem;
        padding: 8px;
        text-align: center;
    }

    tr {
        &:nth-child(even) {
            background-color: #f2f2f2;
        }

        border-bottom: 1px solid #000000;
    }
}

.employee-table button,
.account-table button,
.transaction-table button {
    padding: .5rem 1rem;
    background-color: #0E447D;
    color: #fff;
    border: none;
    border-radius: .4rem;
}

.employee-table button:hover,
.account-table button:hover,
.transaction-table button:hover {
    background-color: #4878A5;
}

/* Add Employee & Account, & Account Profile */
.personal-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 10rem;
    border-style: solid;
    border-color: #4878A5;
    border-width: 1px 0 0 0;
    padding: .5rem 1.5rem 1.5rem 1.5rem;
    margin: 10px 50px 0px 50px;
}

.add-employee-header,
.add-account-header,
.account-profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 0;

    #employee-id,
    #account-id,
    #profile-employee-id {
        font-size: 1.25rem;
        text-align: center;
    }
}

.user-profile-image h2,
.personal-info h2,
.address h2,
.education-experience h2,
.details h2 {
    grid-column: span 3;
    font-size: 1.2rem;
    font-weight: bold;
}

.form-group,
.profile-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label,
.profile-group label {
    font-size: 1rem;
    font-weight: 600;
}

.form-group input,
.profile-group input,
#employee-id,
#account-id,
#profile-employee-id {
    padding: 0.5rem;
    border: 1px solid #4878A5;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    height: 40px;
}

.form-group input:focus {
    outline: 2px solid #031B42;
}

.form-group select {
    padding: 0.5rem;
    border: 1px solid #4878A5;
    border-radius: 4px;
    font-size: 14px;
    height: 40px;
}

.form-group select:focus {
    outline: 2px solid #031B42;
}

.user-profile-image,
.address,
.education-experience,
.job-experience,
.details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 10rem;
    border-style: solid;
    border-color: #4878A5;
    border-width: 1px 0 0 0;
    padding: .5rem 1.5rem 1.5rem 1.5rem;
    margin: 10px 50px 0px 50px;
}

.user-profile-image img {
    grid-column: span 3;
    justify-self: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4878A5;
}


#employee-type:focus,
#employee-password:focus,
#employee-id:focus,
#account-type:focus,
#account-password:focus,
#account-id:focus,
#profile-employee-id:focus,
.profile-group input:focus {
    outline: none;
    box-shadow: none;
}

.submit-form {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #4878A5;
    border-width: 1px 0 0 0;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin: 0px 50px 0px 50px;
}

.change-password {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #4878A5;
    border-width: 1px 0 0 0;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin: 10px 50px 0px 50px;
}

.submit-btn,
#change-password-btn {
    padding: 0.6rem 1rem;
    background-color: #0E447D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.submit-btn:hover,
#change-password-btn:hover {
    background-color: #4878A5;
}

/* Deposit & Withdraw */
.account-search {
    margin: 20px 50px;
    background-color: #031B42;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    .search-group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-size: 14px;
            color: #fff;
            font-weight: 600;
        }

        input {
            padding: 0.5rem;
            border: 1px solid #4878A5;
            border-radius: 4px;
            font-size: 16px;
            width: 500px;
        }

        input:focus {
            outline: 2px solid #E1F4FF;
            box-shadow: rgb(225, 244, 255, 0.5) 0px 0px 0px 3px;
        }

        button {
            padding: 0.7rem 1rem;
            background-color: #0E447D;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            transition: background-color 0.3s ease;
            margin-top: 1.6rem;
        }

        button:hover {
            background-color: #4878A5;
        }
    }
}

.account-information,
.deposit-information,
.withdraw-information {
    margin: 20px 50px;
    background-color: #fff;
    padding: 40px 50px;
    border: 2px solid #4878A5;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 50px;


    .info-group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-size: 20px;
            color: #031B42;
            font-weight: 600;
        }

        input {
            padding: 0.5rem;
            border: 1px solid #4878A5;
            border-radius: 4px;
            font-size: 16px;
            width: 375px;
        }

        input:focus {
            outline: none;
            box-shadow: none;
        }
    }

}

.deposit-information .info-group,
.withdraw-information .info-group {
    input:focus {
        outline: 2px solid #E1F4FF;
    }

    select {
        padding: 0.475rem;
        border: 1px solid #4878A5;
        border-radius: 4px;
        font-size: 16px;
        width: 375px;
    }

    select:focus {
        outline: 2px solid #E1F4FF;
    }
}

.deposit-actions,
.withdraw-actions {
    display: flex;
    justify-content: center;

    button {
        padding: 0.7rem 1rem;
        background-color: #0E447D;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #4878A5;
    }
}

/* Transfer */
.transfer-information {
    margin: 20px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;

    h3 {
        grid-column: span 2;
        font-size: 1.5rem;
        font-weight: 650;
        color: #031B42;
    }

    .sender-information,
    .receiver-information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        background-color: #fff;
        padding: 20px 50px 20px 50px;
        border: 2px solid #4878A5;
        border-radius: 8px;
    }

    .sender-information .info-group,
    .receiver-information .info-group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-size: 20px;
            color: #031B42;
            font-weight: 600;
        }

        input {
            padding: 0.5rem;
            border: 1px solid #4878A5;
            border-radius: 4px;
            font-size: 16px;
            width: 300px;
        }

        input:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.transfer-details {
    margin: 20px 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #fff;
    padding: 20px 50px 20px 50px;
    border: 2px solid #4878A5;
    border-radius: 8px;

    .transfer-total {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 10px;

        h1 {
            font-size: 24px;
            color: #031B42;
            font-weight: 600;
            padding: 10px;
        }

        #transfer-fee {
            font-size: 24px;
            color: #FF2C2C;
            font-weight: bold;
            padding: 10px;
        }

        #transfer-total {
            font-size: 26px;
            color: #031B42;
            font-weight: bold;
            padding: 10px;
        }

        .transfer-actions {
            display: flex;
            justify-content: center;

            button {
                padding: 0.7rem 1rem;
                background-color: #0E447D;
                color: #fff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 20px;
                font-weight: 600;
                width: 75%;
                transition: background-color 0.3s ease;
            }

            button:hover {
                background-color: #4878A5;
            }
        }
    }

    .transaction-details {
        margin-right: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .info-group {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                font-size: 20px;
                color: #031B42;
                font-weight: 600;
            }

            input {
                padding: 0.5rem;
                border: 1px solid #4878A5;
                border-radius: 4px;
                font-size: 16px;
                width: 350px;
            }

            input:focus {
                outline: 2px solid #E1F4FF;
            }

            select {
                padding: 0.475rem;
                border: 1px solid #4878A5;
                border-radius: 4px;
                font-size: 16px;
                width: 350px;
            }

            select:focus {
                outline: 2px solid #E1F4FF;
            }
        }
    }
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .modal-content {
    background-color: #fefefe;
    margin: 2.5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 8px;

    p {
        padding: 5px 0;
    }

    .modal-message {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .modal-actions {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;

        button {
            padding: 0.6rem 1rem;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
        }
    }

    .modal-actions .cancel-btn,.modal-actions .save-btn {
        background-color: transparent;
        color: #0E447D;
        border: 2px solid #0E447D;
    }

    .modal-actions .cancel-btn:hover, .modal-actions .save-btn:hover {
        background-color: rgba(14, 68, 125, 0.08);
        border-color: #4878A5;
        color: #4878A5;
    }

    .modal-actions .delete-btn {
        background-color: rgb(167, 29, 29);
        color: #fff;
        border: 2px solid rgb(167, 29, 29);
    }

    .modal-actions .delete-btn:hover {
        background-color: rgb(200, 35, 35);
        border-color: rgb(200, 35, 35);
    }
}


.modal .close {
    background: none;
    border: none;
    color: #aaa;
    float: right;
    margin: 5px;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: #4878A5;
}

.modal.show {
    display: block;
}

.modal-body {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px 30px 20px 30px;
}

.modal-body .edit-form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5px 25px;
    padding: 5px 30px;
    align-items: center;

    input {
        padding: 0.5rem;
        border: 1px solid #4878A5;
        border-radius: 4px;
        font-size: 14px;
        width: 300px;
    }
    
    input[readonly] {
        background-color: #cacaca;
    }

    select {
        padding: 0.475rem;
        border: 1px solid #4878A5;
        border-radius: 4px;
        font-size: 14px;
        width: 300px;
    }
}
.readonly-select {
    background-color: #cacaca;
    pointer-events: none;
    user-select: none;
}


.modal-content h2 {
    padding: 10px 20px;
    background-color: #0E447D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

/* Responsive Design */


@media (max-width: 768px) {
    .sidebar {
        width: 162px;
        height: auto;
        position: relative;
        margin-top: 0;
    }

    .title .icon img {
        width: 40px;
    }

    .title h1 {
        font-size: 24px;
    }

    .current-user {
        height: 120px;
    }

    .current-user img {
        width: 40px;
    }

    .menu-item {
        padding: 10px 15px;
        font-size: 12px;
    }

    .content {
        margin-left: 0;
        padding: 10px;
    }

    #dashboard-content {
        margin-left: 0;
    }
}